<div id="wallet" class="mb-1">
    {% if invoice.is_use_wallet or wallet_available_balance %}
    <label class="checkbox-inline m-0">
        <input type="checkbox" id="use_wallet" name="toggle_wallet"
            data-request="wallet::onToggleWallet"
            data-request-update="{{ updatePartial }}"
            {{ invoice.is_use_wallet ? 'checked' }}>
            Use Wallet
    </label>
    {% if invoice.is_use_wallet %}
        <div>
            <small>Wallet Used: <strong class="text-danger">{{ wallet_usage_invoice_item.related.amount|currency({ format: 'short' }) }}</strong></small>
        </div>
        <div>
            <small>Remaining Wallet: <strong>{{ wallet_available_balance|currency({ format: 'short' }) }}</strong></small>
        </div>
    {% else %}
    {% if wallet_available_balance > 0 %}
        <div>
            <small>
                Wallet Balance: <strong>{{ wallet_available_balance|currency({ format: 'short' }) }}</strong>
            </small>
        </div>
    {% endif %}
    {% endif %}
    {% endif %}
</div>